<config>
	<!-- OBJECT REPO -->
	<target>
		<pre>
			<st>
				Gofer new url: 'http://smalltalkhub.com/mc/spasojev/ObjectRepoGatherer/main/';package: 'ConfigurationOfObjectRepoGatherer'; load.(Smalltalk at: #ConfigurationOfObjectRepoGatherer) loadDevelopment.Author fullName: 'me'.
			</st>
		</pre>
		<analysis>
			<st>
				Author fullName: 'me'. Transcript show: '@@OR-START@@';cr. ObjectRepoDataGatherer new emfPoweredAnalysis.
			</st>
		</analysis>
		<post>
			<sh>
				<![CDATA[
				LOADED_ON=`cat loadedOn.txt`
				echo "db = db.getSiblingDB('objectRepo');db.objectRepoT$LOADED_ON.ensureIndex({snippet: 1, className: 1}, {unique: true, dropDups: true});" > OR-after.js
				
				$PERCENT=`echo "\`cat simpleParallelBash/standardOutput/* | grep @@BoriS | wc -l\` * 100 / \`tail -n 1 simpleParallelBash/input.txt\`" | bc`
				if [[ $PERCENT -ge 75 ]]; then
  					echo "db.objectRepo.drop(); db.objectRepoT$LOADED_ON.copyTo('objectRepo')" >> OR-after.js
				fi
				
				mongo OR-after.js
				]]>
			</sh>
		</post>
	</target>
	<!-- /OBJECT REPO -->

	<!-- EATI -->
	<target>
		<pre>
			<st>
				Gofer new url: 'http://smalltalkhub.com/mc/spasojev/Type-Based-Analisys/main'; package: 'ConfigurationOfEATIBackend'; load.(Smalltalk at: #ConfigurationOfEATIBackend) loadDevelopment.
			</st>
		</pre>
		<analysis>
			<st>
				Transcript show: '@@EATI-START@@';cr.EATIDataCollector new emfPoweredAnalysis.
			</st>
		</analysis>
		<post>
			<sh>
				<![CDATA[
				LOADED_ON=`cat loadedOn.txt`
				TOTAL=`tail -n 1 simpleParallelBash/input.txt`
				SUCC=`cat simpleParallelBash/standardOutput/* | grep @@BoriS | wc -l`
				PERCENT=`echo "$SUCC * 100 / $TOTAL" | bc`
				if [[ $PERCENT -ge 75 ]]; then
  					echo "db = db.getSiblingDB('EATI');db.EATI.drop(); db.EATIT$LOADED_ON.copyTo('EATI')" > EATI-after.js
				fi
				
				mongo EATI-after.js
				]]>
			</sh>
		</post>
	</target>
	<!-- /EATI -->
</config>
