<config>
<target>
	<pre>
		<!-- load object repo analysis -->
		<st>
			Gofer new url: 'http://smalltalkhub.com/mc/spasojev/ObjectRepoGatherer/main/';package: 'ConfigurationOfObjectRepoGatherer'; load.(Smalltalk at: #ConfigurationOfObjectRepoGatherer) loadDevelopment.
		</st>
	</pre>
	<analysis>
		<st>
			ObjectRepoDataGatherer new emfPoweredAnalysis.
		</st>
	</analysis>
</target>
</config>
