<config>
<target>
	<pre>
		<sh>
			echo 'PRE.sh'
		</sh>
		<st>	
			Transcript show: 'PRE.st'.
		</st>
	</pre>
	<analysis>
		<st>
			Transcript cr;cr;cr. EMFUtils projectClasses size.	
		</st>
		<sh>
			
		</sh>
	</analysis>
	<post>
		<sh>
			echo 'post.sh'
		</sh>
		<st>	
			Transcript show: 'post.st'.
		</st>
	</post>
</target>
<target>
	<pre>
		<sh>
			echo 'PRE.sh'
		</sh>
		<st>
			Transcript show: 'PRE.st'.
		</st>
	</pre>
	<analysis>
		<st>
			Transcript cr;cr;cr. EMFUtils projectClasses size.	
		</st>
		<sh>
			
		</sh>
	</analysis>
	<post>
		<sh>
			echo 'post.sh'
		</sh>
		<st>	
			Transcript show: 'post.st'.
		</st>
	</post>
</target>
<target>
	<pre>
		<sh>
			echo 'PRE.sh'
		</sh>
		<st>
			Transcript show: 'PRE.st'.
		</st>
	</pre>
	<analysis>
		<st>
			Transcript cr;cr;cr. EMFUtils projectClasses size.	
		</st>
		<sh>
			
		</sh>
	</analysis>
	<post>
		<sh>
			echo 'post.sh'
		</sh>
		<st>	
			Transcript show: 'post.st'.
		</st>
	</post>
</target>
</config>
